
<div class="a1">
  <h2>Autores</h2>
  <br/>
  <figure>
    <img src="/images/perfil.jpg"/>
    <br/><br/>
    <figcaption><strong>Nombre del autor: </strong><br/>Julián Escobar</figcaption>
  </figure>  
</div>
